header{
    background: #FFFFFF;

}
.section-hero{
    background: #2F303A;

}
footer{
    background: #2F303A;

}
span{
    color: #2196F3;

}
.header-logo{
 color: #000000;

}
.header-link:nth-child(1){
color: #2196F3;
 
}
