img{
    width: 100px;
}
ul{
 border-radius: 15px;
    background-color: rgb(139, 0, 0);
    width: 190px;
}
body{
    background-color: chartreuse;
}
h1{
    border-radius: 15px;
    background-color: darkblue;
    width: 190px;
}
p{
border-radius: 15px;
    background-color: darkblue;
    width: 190px;
}    
input{
    display: block;
}